.item {
    border: 2px solid #50597b;
    border-radius: 5px;
    padding: 20px;
    flex-basis: calc((100% - 3 * 20px)/4);
    transition: all 150ms linear;
    position: relative;
}

.item:hover {
    color: #fcb150;
    background-color: #50597b;
}

.button {
    padding: 5px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fcb150;
    transition: all 150ms linear;
    font-size: 12px;
}

.button:hover {
    color: #e64c65;
}

.info:not(:last-child) {
    margin-bottom: 10px;
}